<?xml version="1.0"?>
<uifile>
  <BOPright>0</BOPright>
  <OBMleft>430</OBMleft>
  <SDOMdown>1</SDOMdown>
  <checkBox1>False</checkBox1>
  <checkBox2>False</checkBox2>
  <checkBox3>False</checkBox3>
  <checkBox4>False</checkBox4>
  <UPZPup>31</UPZPup>
  <comboBox10>0</comboBox10>
  <BOMup>0</BOMup>
  <ABMdown>1</ABMdown>
  <OBMup>0</OBMup>
  <comboBox17>0</comboBox17>
  <PEMup>4</PEMup>
  <UPNPup>16</UPNPup>
  <CBwidth>200</CBwidth>
  <STwidthc>False</STwidthc>
  <NUTheight>123</NUTheight>
  <WINAspeed>1</WINAspeed>
  <comboBox13>1</comboBox13>
  <ULwidthC>False</ULwidthC>
  <UPNheight>80</UPNheight>
  <OBlocation>0</OBlocation>
  <CBPdown>0</CBPdown>
  <BOani>False</BOani>
  <ABPdown>0</ABPdown>
  <SBMleft>1</SBMleft>
  <SBSMright>1</SBSMright>
  <Font2>9;normal;shadow|underline;Corbel</Font2>
  <Font3>11;normal;shadow;Corbel</Font3>
  <STred>255</STred>
  <Font1>9;normal;shadow;Corbel</Font1>
  <SDOPdown>0</SDOPdown>
  <PEMright>4</PEMright>
  <Font5>18;normal;shadow;Corbel</Font5>
  <ABPright>0</ABPright>
  <CBheight>26</CBheight>
  <STgreen>255</STgreen>
  <BOMleft>0</BOMleft>
  <ABMup>1</ABMup>
  <SBMright>1</SBMright>
  <CMblue>255</CMblue>
  <WINheight>480</WINheight>
  <GBMdown>1</GBMdown>
  <GBMright>4</GBMright>
  <UPNMleft>1</UPNMleft>
  <SDOwidth>20</SDOwidth>
  <STMdown>0</STMdown>
  <PEMdown>4</PEMdown>
  <GBPleft>0</GBPleft>
  <OBAspeed>1</OBAspeed>
  <SDMdown>1</SDMdown>
  <UNred>255</UNred>
  <WINPleft>0</WINPleft>
  <LW>http://dejco.deviantart.com</LW>
  <SBSMdown>10</SBSMdown>
  <comboBox4>4</comboBox4>
  <WINPright>0</WINPright>
  <SBSMleft>1</SBSMleft>
  <comboBox7>3</comboBox7>
  <comboBox1>1</comboBox1>
  <comboBox2>0</comboBox2>
  <comboBox3>1</comboBox3>
  <comboBox8>3</comboBox8>
  <comboBox9>0</comboBox9>
  <PEPup>1</PEPup>
  <STMup>0</STMup>
  <comboBox15>0</comboBox15>
  <GBPright>0</GBPright>
  <SBwidth>30</SBwidth>
  <SDwidth>38</SDwidth>
  <UPNMup>1</UPNMup>
  <UPZwidth>190</UPZwidth>
  <UPNPheight>48</UPNPheight>
  <UPZheight>190</UPZheight>
  <SDOtext>&gt;</SDOtext>
  <comboBox11>0</comboBox11>
  <GBMleft>4</GBMleft>
  <CMshadow>75</CMshadow>
  <BOPup>0</BOPup>
  <SDPleft>0</SDPleft>
  <UPNMdown>1</UPNMdown>
  <UPNPdown>16</UPNPdown>
  <CBPright>0</CBPright>
  <comboBox6>2</comboBox6>
  <ABheight>28</ABheight>
  <OBPleft>0</OBPleft>
  <STPright>0</STPright>
  <STPdown>0</STPdown>
  <PEPdown>0</PEPdown>
  <WINPdown>0</WINPdown>
  <DBheight>35</DBheight>
  <ABwidth>38</ABwidth>
  <STPup>0</STPup>
  <OBAtype>0</OBAtype>
  <CMred>255</CMred>
  <UPNPleft>16</UPNPleft>
  <OBPright>0</OBPright>
  <GBPup>0</GBPup>
  <CBPup>-15</CBPup>
  <SDMleft>4</SDMleft>
  <UNblue>255</UNblue>
  <SBMup>1</SBMup>
  <UPNPwidth>48</UPNPwidth>
  <UPZMup>1</UPZMup>
  <SDPright>0</SDPright>
  <GBPdown>0</GBPdown>
  <CBMdown>3</CBMdown>
  <SBheight>30</SBheight>
  <SUblue>255</SUblue>
  <UPZMleft>1</UPZMleft>
  <ULheight>475</ULheight>
  <OBMdown>0</OBMdown>
  <LD>Energy Bliss Logon v2</LD>
  <SDOPleft>0</SDOPleft>
  <checkBox5>False</checkBox5>
  <checkBox6>False</checkBox6>
  <ABPleft>0</ABPleft>
  <PEMleft>4</PEMleft>
  <UPNPright>16</UPNPright>
  <WINPup>0</WINPup>
  <UPNwidth>80</UPNwidth>
  <UPNMright>1</UPNMright>
  <SDOheight>28</SDOheight>
  <OBMright>0</OBMright>
  <BOAspeed>1</BOAspeed>
  <UPZMdown>1</UPZMdown>
  <UPZPdown>31</UPZPdown>
  <PEPleft>0</PEPleft>
  <ABMright>4</ABMright>
  <SDheight>28</SDheight>
  <SDOPup>0</SDOPup>
  <SDOPright>0</SDOPright>
  <BOPdown>0</BOPdown>
  <OBPdown>150</OBPdown>
  <CBMleft>3</CBMleft>
  <comboBox16>3</comboBox16>
  <STBwidth>600</STBwidth>
  <OBheight>96</OBheight>
  <Font4>12;normal;shadow;Corbel</Font4>
  <BOMright>0</BOMright>
  <SDPdown>0</SDPdown>
  <SUred>255</SUred>
  <GBMup>1</GBMup>
  <STblue>255</STblue>
  <SDMright>4</SDMright>
  <STAwidth>20</STAwidth>
  <WINMright>0</WINMright>
  <PEwidth>225</PEwidth>
  <OBPup>0</OBPup>
  <comboBox14>0</comboBox14>
  <UPZPheight>126</UPZPheight>
  <BOAtype>0</BOAtype>
  <STAspeed>1</STAspeed>
  <SBdistance>4</SBdistance>
  <UPZPleft>31</UPZPleft>
  <SDOMleft>4</SDOMleft>
  <WINwidth>640</WINwidth>
  <SUgreen>255</SUgreen>
  <CBMright>3</CBMright>
  <UPZPright>31</UPZPright>
  <PEPright>0</PEPright>
  <CMgreen>255</CMgreen>
  <STMleft>0</STMleft>
  <CBPleft>0</CBPleft>
  <WINani>False</WINani>
  <SDOMright>4</SDOMright>
  <comboBox5>0</comboBox5>
  <SDMup>1</SDMup>
  <SDOMup>1</SDOMup>
  <PEheight>25</PEheight>
  <SDPup>0</SDPup>
  <CBMup>18</CBMup>
  <STAheight>20</STAheight>
  <SBMdown>1</SBMdown>
  <UNgreen>255</UNgreen>
  <STPleft>0</STPleft>
  <WINMdown>0</WINMdown>
  <STAtype>0</STAtype>
  <ULwidth>475</ULwidth>
  <UPZPwidth>126</UPZPwidth>
  <STMright>0</STMright>
  <ABMleft>4</ABMleft>
  <comboBox12>0</comboBox12>
  <WINMup>0</WINMup>
  <LA>dejco</LA>
  <SBSMup>10</SBSMup>
  <UPZMright>1</UPZMright>
  <BOPleft>0</BOPleft>
  <ABPup>0</ABPup>
  <WINAtype>0</WINAtype>
  <BOMdown>0</BOMdown>
  <WINMleft>0</WINMleft>
</uifile>