<?xml version="1.0"?>
<uifile>
  <UPZPup>14</UPZPup>
  <BOMdown>249</BOMdown>
  <SUred>255</SUred>
  <WINPdown>-20</WINPdown>
  <SDOMdown>0</SDOMdown>
  <UPNPdown>21</UPNPdown>
  <UPNwidth>120</UPNwidth>
  <CBMup>7</CBMup>
  <SDPright>0</SDPright>
  <SBSMright>1</SBSMright>
  <CBPright>-7</CBPright>
  <UPNMleft>28</UPNMleft>
  <UPZPheight>85</UPZPheight>
  <UPZMup>14</UPZMup>
  <comboBox14>0</comboBox14>
  <ABwidth>38</ABwidth>
  <comboBox9>0</comboBox9>
  <comboBox8>3</comboBox8>
  <comboBox5>1</comboBox5>
  <comboBox4>4</comboBox4>
  <UPZPwidth>72</UPZPwidth>
  <CBMdown>7</CBMdown>
  <comboBox1>1</comboBox1>
  <comboBox3>1</comboBox3>
  <comboBox2>0</comboBox2>
  <SDOPup>0</SDOPup>
  <ABheight>28</ABheight>
  <SBSMleft>1</SBSMleft>
  <STPleft>0</STPleft>
  <BOPdown>-249</BOPdown>
  <PEheight>48</PEheight>
  <SDPup>0</SDPup>
  <ULwidth>475</ULwidth>
  <Font5>18;normal;shadow;Segoe UI</Font5>
  <OBAtype>0</OBAtype>
  <WINMright>85</WINMright>
  <SDPleft>0</SDPleft>
  <SDMup>3</SDMup>
  <UPZPdown>21</UPZPdown>
  <SBMdown>1</SBMdown>
  <WINPleft>0</WINPleft>
  <WINAspeed>0</WINAspeed>
  <WINMdown>45</WINMdown>
  <CMred>247</CMred>
  <OBlocation>3</OBlocation>
  <WINwidth>800</WINwidth>
  <GBPdown>0</GBPdown>
  <STAtype>0</STAtype>
  <UNred>244</UNred>
  <BOPright>-340</BOPright>
  <OBheight>1600</OBheight>
  <STAheight>20</STAheight>
  <comboBox10>0</comboBox10>
  <STMleft>0</STMleft>
  <CMshadow>75</CMshadow>
  <STblue>9</STblue>
  <PEPleft>0</PEPleft>
  <PEMup>11</PEMup>
  <SDMleft>4</SDMleft>
  <SDwidth>55</SDwidth>
  <GBPup>0</GBPup>
  <CBMleft>7</CBMleft>
  <STAwidth>20</STAwidth>
  <GBPright>0</GBPright>
  <ABMright>4</ABMright>
  <OBAspeed>1</OBAspeed>
  <GBMdown>8</GBMdown>
  <UPNPup>14</UPNPup>
  <GBMup>8</GBMup>
  <NUTheight>200</NUTheight>
  <SBSMdown>10</SBSMdown>
  <PEMright>7</PEMright>
  <UPNMup>14</UPNMup>
  <SDOPright>0</SDOPright>
  <UPZMright>20</UPZMright>
  <PEMleft>11</PEMleft>
  <Font3>11;normal;shadow;Segoe UI</Font3>
  <Font4>12;normal;shadow;Segoe UI</Font4>
  <UPNMdown>21</UPNMdown>
  <WINani>False</WINani>
  <PEMdown>11</PEMdown>
  <SBMleft>1</SBMleft>
  <CBPleft>-7</CBPleft>
  <UPZheight>120</UPZheight>
  <OBMright>0</OBMright>
  <BOani>False</BOani>
  <DBheight>48</DBheight>
  <CBwidth>40</CBwidth>
  <GBPleft>0</GBPleft>
  <comboBox17>1</comboBox17>
  <LA>dejco</LA>
  <SDheight>47</SDheight>
  <CBheight>40</CBheight>
  <UNblue>9</UNblue>
  <ABMup>3</ABMup>
  <WINPup>-125</WINPup>
  <OBMleft>0</OBMleft>
  <SDOPleft>0</SDOPleft>
  <PEwidth>207</PEwidth>
  <SDMright>4</SDMright>
  <SDOMup>0</SDOMup>
  <STred>244</STred>
  <WINMup>209</WINMup>
  <SBwidth>48</SBwidth>
  <GBMleft>8</GBMleft>
  <BOAspeed>1</BOAspeed>
  <UPZwidth>120</UPZwidth>
  <UPZMleft>28</UPZMleft>
  <ULwidthC>False</ULwidthC>
  <SBdistance>0</SBdistance>
  <LW>http://dejco.deviantart.com</LW>
  <ULheight>475</ULheight>
  <UPNPwidth>72</UPNPwidth>
  <SDOMright>7</SDOMright>
  <comboBox13>1</comboBox13>
  <ABPdown>0</ABPdown>
  <STPup>0</STPup>
  <STMright>0</STMright>
  <UPNPright>20</UPNPright>
  <PEPdown>0</PEPdown>
  <STMup>0</STMup>
  <ABPup>0</ABPup>
  <STwidthc>False</STwidthc>
  <comboBox16>5</comboBox16>
  <UPNPheight>85</UPNPheight>
  <SDOwidth>55</SDOwidth>
  <CBMright>7</CBMright>
  <UPNPleft>28</UPNPleft>
  <SDOMleft>8</SDOMleft>
  <SDMdown>3</SDMdown>
  <STBwidth>600</STBwidth>
  <STPdown>0</STPdown>
  <ABPright>0</ABPright>
  <UNgreen>62</UNgreen>
  <ABMdown>3</ABMdown>
  <WINPright>0</WINPright>
  <PEPright>0</PEPright>
  <SDOPdown>0</SDOPdown>
  <SBSMup>10</SBSMup>
  <OBPdown>0</OBPdown>
  <OBPleft>0</OBPleft>
  <BOPleft>-429</BOPleft>
  <OBPup>0</OBPup>
  <SBMright>1</SBMright>
  <STMdown>0</STMdown>
  <CMgreen>247</CMgreen>
  <STAspeed>1</STAspeed>
  <OBMup>0</OBMup>
  <WINMleft>290</WINMleft>
  <comboBox12>1</comboBox12>
  <OBPright>0</OBPright>
  <comboBox7>0</comboBox7>
  <comboBox6>4</comboBox6>
  <WINheight>500</WINheight>
  <BOMright>340</BOMright>
  <SDOtext>&gt;</SDOtext>
  <BOAtype>0</BOAtype>
  <LD>3D user pictures are only overlays no actual 3D transformation is done</LD>
  <OBMdown>0</OBMdown>
  <PEPup>5</PEPup>
  <UPNMright>20</UPNMright>
  <BOMleft>429</BOMleft>
  <comboBox15>0</comboBox15>
  <UPNheight>120</UPNheight>
  <GBMright>7</GBMright>
  <SBMup>1</SBMup>
  <Font1>9;normal;shadow;Segoe UI</Font1>
  <Font2>9;normal;shadow|underline;Segoe UI</Font2>
  <STgreen>62</STgreen>
  <SBheight>48</SBheight>
  <UPZMdown>21</UPZMdown>
  <ABMleft>4</ABMleft>
  <checkBox1>True</checkBox1>
  <checkBox3>False</checkBox3>
  <checkBox2>True</checkBox2>
  <checkBox5>False</checkBox5>
  <checkBox4>False</checkBox4>
  <checkBox6>False</checkBox6>
  <UPZPleft>28</UPZPleft>
  <SDPdown>0</SDPdown>
  <SDOheight>40</SDOheight>
  <CBPdown>-7</CBPdown>
  <BOPup>-335</BOPup>
  <SUgreen>255</SUgreen>
  <CMblue>247</CMblue>
  <SUblue>255</SUblue>
  <UPZPright>20</UPZPright>
  <ABPleft>0</ABPleft>
  <BOMup>335</BOMup>
  <comboBox11>0</comboBox11>
  <CBPup>-7</CBPup>
  <STPright>0</STPright>
  <WINAtype>2</WINAtype>
</uifile>