<?xml version="1.0"?>
<uifile>
  <UPZPup>15</UPZPup>
  <BOMdown>309</BOMdown>
  <SUred>255</SUred>
  <WINPdown>0</WINPdown>
  <SDOMdown>18</SDOMdown>
  <UPNPdown>15</UPNPdown>
  <UPNwidth>80</UPNwidth>
  <CBMup>18</CBMup>
  <SDPright>0</SDPright>
  <SBSMright>1</SBSMright>
  <CBPright>-10</CBPright>
  <UPNMleft>15</UPNMleft>
  <UPZPheight>160</UPZPheight>
  <UPZMup>15</UPZMup>
  <comboBox14>0</comboBox14>
  <ABwidth>50</ABwidth>
  <comboBox9>0</comboBox9>
  <comboBox8>2</comboBox8>
  <comboBox5>0</comboBox5>
  <comboBox4>4</comboBox4>
  <UPZPwidth>160</UPZPwidth>
  <CBMdown>18</CBMdown>
  <comboBox1>1</comboBox1>
  <comboBox3>1</comboBox3>
  <comboBox2>4</comboBox2>
  <SDOPup>-10</SDOPup>
  <ABheight>40</ABheight>
  <SBSMleft>1</SBSMleft>
  <STPleft>0</STPleft>
  <BOPdown>-309</BOPdown>
  <PEheight>40</PEheight>
  <SDPup>0</SDPup>
  <ULwidth>475</ULwidth>
  <Font5>18;normal;shadow;[z] Arista Light</Font5>
  <OBAtype>0</OBAtype>
  <WINMright>0</WINMright>
  <SDPleft>0</SDPleft>
  <SDMup>3</SDMup>
  <UPZPdown>15</UPZPdown>
  <SBMdown>1</SBMdown>
  <WINPleft>0</WINPleft>
  <WINAspeed>1</WINAspeed>
  <WINMdown>0</WINMdown>
  <CMred>255</CMred>
  <OBlocation>1</OBlocation>
  <WINwidth>640</WINwidth>
  <GBPdown>-8</GBPdown>
  <STAtype>0</STAtype>
  <UNred>255</UNred>
  <BOPright>-358</BOPright>
  <OBheight>120</OBheight>
  <STAheight>0</STAheight>
  <comboBox10>0</comboBox10>
  <STMleft>0</STMleft>
  <CMshadow>255</CMshadow>
  <STblue>255</STblue>
  <PEPleft>0</PEPleft>
  <PEMup>11</PEMup>
  <SDMleft>4</SDMleft>
  <SDwidth>40</SDwidth>
  <GBPup>-8</GBPup>
  <CBMleft>18</CBMleft>
  <STAwidth>0</STAwidth>
  <GBPright>-8</GBPright>
  <ABMright>19</ABMright>
  <OBAspeed>1</OBAspeed>
  <GBMdown>19</GBMdown>
  <UPNPup>15</UPNPup>
  <GBMup>19</GBMup>
  <NUTheight>123</NUTheight>
  <SBSMdown>10</SBSMdown>
  <PEMright>13</PEMright>
  <UPNMup>15</UPNMup>
  <SDOPright>-10</SDOPright>
  <UPZMright>15</UPZMright>
  <PEMleft>20</PEMleft>
  <Font3>11;normal;shadow;[z] Arista Light</Font3>
  <Font4>12;normal;shadow;[z] Arista Light</Font4>
  <UPNMdown>15</UPNMdown>
  <WINani>False</WINani>
  <PEMdown>7</PEMdown>
  <SBMleft>1</SBMleft>
  <CBPleft>-10</CBPleft>
  <UPZheight>150</UPZheight>
  <OBMright>0</OBMright>
  <BOani>False</BOani>
  <DBheight>35</DBheight>
  <CBwidth>190</CBwidth>
  <GBPleft>-8</GBPleft>
  <comboBox17>0</comboBox17>
  <LA>dejco</LA>
  <SDheight>40</SDheight>
  <CBheight>40</CBheight>
  <UNblue>255</UNblue>
  <ABMup>19</ABMup>
  <WINPup>0</WINPup>
  <OBMleft>0</OBMleft>
  <SDOPleft>0</SDOPleft>
  <PEwidth>230</PEwidth>
  <SDMright>4</SDMright>
  <SDOMup>18</SDOMup>
  <STred>255</STred>
  <WINMup>0</WINMup>
  <SBwidth>35</SBwidth>
  <GBMleft>19</GBMleft>
  <BOAspeed>1</BOAspeed>
  <UPZwidth>150</UPZwidth>
  <UPZMleft>15</UPZMleft>
  <ULwidthC>False</ULwidthC>
  <SBdistance>0</SBdistance>
  <LW>http://dejco.deviantart.com/</LW>
  <ULheight>475</ULheight>
  <UPNPwidth>50</UPNPwidth>
  <SDOMright>18</SDOMright>
  <comboBox13>1</comboBox13>
  <ABPdown>-8</ABPdown>
  <STPup>0</STPup>
  <STMright>0</STMright>
  <UPNPright>15</UPNPright>
  <PEPdown>0</PEPdown>
  <STMup>0</STMup>
  <ABPup>-8</ABPup>
  <STwidthc>False</STwidthc>
  <comboBox16>0</comboBox16>
  <UPNPheight>50</UPNPheight>
  <SDOwidth>50</SDOwidth>
  <CBMright>18</CBMright>
  <UPNPleft>15</UPNPleft>
  <SDOMleft>0</SDOMleft>
  <SDMdown>3</SDMdown>
  <STBwidth>600</STBwidth>
  <STPdown>0</STPdown>
  <ABPright>-8</ABPright>
  <UNgreen>255</UNgreen>
  <ABMdown>19</ABMdown>
  <WINPright>0</WINPright>
  <PEPright>0</PEPright>
  <SDOPdown>-10</SDOPdown>
  <SBSMup>10</SBSMup>
  <OBPdown>0</OBPdown>
  <OBPleft>0</OBPleft>
  <BOPleft>-358</BOPleft>
  <OBPup>0</OBPup>
  <SBMright>1</SBMright>
  <STMdown>0</STMdown>
  <CMgreen>255</CMgreen>
  <STAspeed>1</STAspeed>
  <OBMup>0</OBMup>
  <WINMleft>0</WINMleft>
  <comboBox12>1</comboBox12>
  <OBPright>0</OBPright>
  <comboBox7>3</comboBox7>
  <comboBox6>4</comboBox6>
  <WINheight>480</WINheight>
  <BOMright>358</BOMright>
  <SDOtext>&gt;</SDOtext>
  <BOAtype>0</BOAtype>
  <LD>Something simular as Driver Parallel Lines game pause menu</LD>
  <OBMdown>0</OBMdown>
  <PEPup>3</PEPup>
  <UPNMright>15</UPNMright>
  <BOMleft>358</BOMleft>
  <comboBox15>1</comboBox15>
  <UPNheight>80</UPNheight>
  <GBMright>19</GBMright>
  <SBMup>1</SBMup>
  <Font1>9;normal;shadow;[z] Arista Light</Font1>
  <Font2>9;normal;shadow|underline;[z] Arista Light</Font2>
  <STgreen>255</STgreen>
  <SBheight>40</SBheight>
  <UPZMdown>15</UPZMdown>
  <ABMleft>19</ABMleft>
  <checkBox1>True</checkBox1>
  <checkBox3>False</checkBox3>
  <checkBox2>False</checkBox2>
  <checkBox5>False</checkBox5>
  <checkBox4>False</checkBox4>
  <checkBox6>False</checkBox6>
  <UPZPleft>15</UPZPleft>
  <SDPdown>0</SDPdown>
  <SDOheight>40</SDOheight>
  <CBPdown>-10</CBPdown>
  <BOPup>-309</BOPup>
  <SUgreen>255</SUgreen>
  <CMblue>255</CMblue>
  <SUblue>255</SUblue>
  <UPZPright>15</UPZPright>
  <ABPleft>-8</ABPleft>
  <BOMup>309</BOMup>
  <comboBox11>1</comboBox11>
  <CBPup>-5</CBPup>
  <STPright>0</STPright>
  <WINAtype>0</WINAtype>
</uifile>