<?xml version="1.0"?>
<uifile>
  <UPZPup>16</UPZPup>
  <BOMdown>0</BOMdown>
  <SUred>255</SUred>
  <WINPdown>50</WINPdown>
  <SDOMdown>1</SDOMdown>
  <UPNPdown>16</UPNPdown>
  <UPNwidth>80</UPNwidth>
  <CBMup>5</CBMup>
  <SDPright>0</SDPright>
  <SBSMright>1</SBSMright>
  <CBPright>6</CBPright>
  <UPNMleft>1</UPNMleft>
  <UPZPheight>48</UPZPheight>
  <UPZMup>1</UPZMup>
  <comboBox14>0</comboBox14>
  <ABwidth>38</ABwidth>
  <comboBox9>1</comboBox9>
  <comboBox8>7</comboBox8>
  <comboBox5>1</comboBox5>
  <comboBox4>1</comboBox4>
  <UPZPwidth>48</UPZPwidth>
  <CBMdown>4</CBMdown>
  <comboBox1>1</comboBox1>
  <comboBox3>1</comboBox3>
  <comboBox2>2</comboBox2>
  <SDOPup>0</SDOPup>
  <ABheight>28</ABheight>
  <SBSMleft>1</SBSMleft>
  <STPleft>0</STPleft>
  <BOPdown>0</BOPdown>
  <PEheight>25</PEheight>
  <SDPup>0</SDPup>
  <ULwidth>360</ULwidth>
  <Font5>18;normal;shadow;Segoe UI</Font5>
  <OBAtype>0</OBAtype>
  <WINMright>0</WINMright>
  <SDPleft>0</SDPleft>
  <SDMup>2</SDMup>
  <UPZPdown>16</UPZPdown>
  <SBMdown>1</SBMdown>
  <WINPleft>0</WINPleft>
  <WINAspeed>1</WINAspeed>
  <WINMdown>0</WINMdown>
  <CMred>255</CMred>
  <OBlocation>0</OBlocation>
  <WINwidth>2560</WINwidth>
  <GBPdown>0</GBPdown>
  <STAtype>0</STAtype>
  <UNred>255</UNred>
  <BOPright>0</BOPright>
  <OBheight>96</OBheight>
  <STAheight>20</STAheight>
  <comboBox10>0</comboBox10>
  <STMleft>0</STMleft>
  <CMshadow>75</CMshadow>
  <STblue>255</STblue>
  <PEPleft>0</PEPleft>
  <PEMup>4</PEMup>
  <SDMleft>4</SDMleft>
  <SDwidth>38</SDwidth>
  <GBPup>0</GBPup>
  <CBMleft>5</CBMleft>
  <STAwidth>20</STAwidth>
  <GBPright>0</GBPright>
  <ABMright>0</ABMright>
  <OBAspeed>1</OBAspeed>
  <GBMdown>3</GBMdown>
  <UPNPup>16</UPNPup>
  <GBMup>3</GBMup>
  <NUTheight>123</NUTheight>
  <SBSMdown>10</SBSMdown>
  <PEMright>4</PEMright>
  <UPNMup>1</UPNMup>
  <SDOPright>0</SDOPright>
  <UPZMright>1</UPZMright>
  <PEMleft>4</PEMleft>
  <Font3>11;normal;shadow;Segoe UI</Font3>
  <Font4>12;normal;shadow;Segoe UI</Font4>
  <UPNMdown>1</UPNMdown>
  <WINani>False</WINani>
  <PEMdown>4</PEMdown>
  <SBMleft>1</SBMleft>
  <CBPleft>1</CBPleft>
  <UPZheight>80</UPZheight>
  <OBMright>0</OBMright>
  <BOani>False</BOani>
  <DBheight>35</DBheight>
  <CBwidth>190</CBwidth>
  <GBPleft>0</GBPleft>
  <comboBox17>1</comboBox17>
  <LA>dejco</LA>
  <SDheight>28</SDheight>
  <CBheight>26</CBheight>
  <UNblue>255</UNblue>
  <ABMup>0</ABMup>
  <WINPup>0</WINPup>
  <OBMleft>0</OBMleft>
  <SDOPleft>0</SDOPleft>
  <PEwidth>225</PEwidth>
  <SDMright>4</SDMright>
  <SDOMup>1</SDOMup>
  <STred>255</STred>
  <WINMup>0</WINMup>
  <SBwidth>30</SBwidth>
  <GBMleft>4</GBMleft>
  <BOAspeed>1</BOAspeed>
  <UPZwidth>80</UPZwidth>
  <UPZMleft>1</UPZMleft>
  <ULwidthC>False</ULwidthC>
  <SBdistance>4</SBdistance>
  <LW>http://dejco.deviantart.com/</LW>
  <ULheight>484</ULheight>
  <UPNPwidth>48</UPNPwidth>
  <SDOMright>4</SDOMright>
  <comboBox13>1</comboBox13>
  <ABPdown>0</ABPdown>
  <STPup>0</STPup>
  <STMright>0</STMright>
  <UPNPright>16</UPNPright>
  <PEPdown>0</PEPdown>
  <STMup>0</STMup>
  <ABPup>0</ABPup>
  <STwidthc>False</STwidthc>
  <comboBox16>5</comboBox16>
  <UPNPheight>48</UPNPheight>
  <SDOwidth>20</SDOwidth>
  <CBMright>5</CBMright>
  <UPNPleft>16</UPNPleft>
  <SDOMleft>4</SDOMleft>
  <SDMdown>2</SDMdown>
  <STBwidth>600</STBwidth>
  <STPdown>0</STPdown>
  <ABPright>0</ABPright>
  <UNgreen>255</UNgreen>
  <ABMdown>0</ABMdown>
  <WINPright>0</WINPright>
  <PEPright>0</PEPright>
  <SDOPdown>0</SDOPdown>
  <SBSMup>10</SBSMup>
  <OBPdown>0</OBPdown>
  <OBPleft>0</OBPleft>
  <BOPleft>0</BOPleft>
  <OBPup>0</OBPup>
  <SBMright>1</SBMright>
  <STMdown>0</STMdown>
  <CMgreen>255</CMgreen>
  <STAspeed>1</STAspeed>
  <OBMup>0</OBMup>
  <WINMleft>0</WINMleft>
  <comboBox12>1</comboBox12>
  <OBPright>0</OBPright>
  <comboBox7>3</comboBox7>
  <comboBox6>2</comboBox6>
  <WINheight>484</WINheight>
  <BOMright>0</BOMright>
  <SDOtext>&gt;</SDOtext>
  <BOAtype>0</BOAtype>
  <LD>Bar Logon</LD>
  <OBMdown>0</OBMdown>
  <PEPup>1</PEPup>
  <UPNMright>1</UPNMright>
  <BOMleft>0</BOMleft>
  <comboBox15>0</comboBox15>
  <UPNheight>80</UPNheight>
  <GBMright>4</GBMright>
  <SBMup>1</SBMup>
  <Font1>9;normal;shadow;Segoe UI</Font1>
  <Font2>9;normal;shadow|underline;Segoe UI</Font2>
  <STgreen>255</STgreen>
  <SBheight>30</SBheight>
  <UPZMdown>1</UPZMdown>
  <ABMleft>0</ABMleft>
  <checkBox1>False</checkBox1>
  <checkBox3>False</checkBox3>
  <checkBox2>True</checkBox2>
  <checkBox5>False</checkBox5>
  <checkBox4>False</checkBox4>
  <checkBox6>False</checkBox6>
  <UPZPleft>16</UPZPleft>
  <SDPdown>0</SDPdown>
  <SDOheight>28</SDOheight>
  <CBPdown>1</CBPdown>
  <BOPup>0</BOPup>
  <SUgreen>255</SUgreen>
  <CMblue>255</CMblue>
  <SUblue>255</SUblue>
  <UPZPright>16</UPZPright>
  <ABPleft>0</ABPleft>
  <BOMup>0</BOMup>
  <comboBox11>0</comboBox11>
  <CBPup>0</CBPup>
  <STPright>0</STPright>
  <WINAtype>0</WINAtype>
</uifile>